body{
    margin-top: 0;    
}
.welcome_header{
    background-color: rgb(34, 72, 119);
    color: white;
    text-align: center;
}
header h1{
    margin: 0 ;
    display: inline;
}

#logo{
    max-width: 4%;
    height:auto ;
    padding-left: 20px;
    padding-top: 20px;
}

.title{
    color:  rgb(34, 72, 119);
}

table th{
    background-color:  rgb(34, 72, 119);
    color: white;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin-left: 20;
    border: black solid 1px;
}

table td{
    padding: 12px 15px;
}


table tr:nth-child(odd) {
    background-color: rgb(160, 219, 233);
}