<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <main layout:fragment="content">

        <h1 class="title">Liste des cours</h1>
        <div class="courses_group">
            <div class="firstChild">
                <table th:unless="${#lists.isEmpty(courses)}">
            <tr>
                <th>Sigle</th>
                <th>Titre</th>
                <th>ECTS</th>
            </tr>
            <tr th:each="course : ${courses}">
            <td><a th:text="${course.id}" th:href="@{/courses/1}"></a></td>
            <td><a th:text="${course.title}" th:href="@{/courses/1}"></a></td>
            <td th:text="${course.credits}"></td>
        </tr>
    </table>
    <h3 th:if="${#lists.isEmpty(courses)}">Aucun cours</h3>
</div>
<span id="line"></span>
    <div class="secondChild">

        <h2 class="title">Ajouter un cours</h2>
        <form th:action="@{/courses/add}" th:object="${course}" method="post">
            Sigle : <input type="text" th:field="*{id}" th:errorclass="errorField" placeholder="Entrez le sigle du cours...">
            <span th:errors="*{id}" class="errorMsg">erreur</span><br>

            Titre : <input type="text" th:field="*{title}" th:errorclass="errorField" placeholder="Entrez le titre du cours...">
            <span th:errors="*{title}" class="errorMsg">erreur</span><br>
            
            ECTS : <input type="number" th:field="*{credits}" th:errorclass="errorField">
            <span th:errors="*{credits}" class="errorMsg">erreur</span>
            <br>
            <button type="submit">Ajouter</button>
        </form>
    </div>
</div>
</body>
</main>
</html>