<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header class="welcome_header">
        <h1>Programme annuel des étudiants</h1><span><img id="logo" th:src="@{/images/logo-esi.jpg}"></span>
        <h3>HE2B-ESI/ WEBG5/ 2023-2024</h3>
    </header>
    <p>Bienvenue sur le site de gestion du programme annuel des étudiants</p>
</body>
</html>